/TODO
old/
tb
.DS_Store
*.cf
*.bak
rfsm.output
**/rfsm/**/dot/*
**/rfsm/**/systemc/*
**/rfsm/**/vhdl/*
**/rfsm/**/sim/*
**/quartus/**/db
**/quartus/**/figs
**/quartus/**/simulation
**/quartus/**/output_files
**/quartus/**/*.rpt
**/quartus/**/*.qws
**/quartus/**/*.qws
